body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container {
    width: 370px;
    margin: 0 auto;
}
input[type=email] {
    margin-bottom: 36px
}
input[type=password] {
    margin-bottom: 70px
}